@import "../public/fonts/fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-red-100: 0, 100%, 68%;
    --color-red-400: 0, 51%, 15%;
    --color-red-500: 0, 53%, 10%;
    --color-green-caribbean: 155, 100%, 44%;
    --color-green-bangladesh: 166, 94%, 20%;
    --color-primary-dark-geen: 178 84% 7%;
    --color-primary-solid-black: 177, 72%, 6%;
    --color-black-rich: 178, 86%, 6%;
    --color-white-anti-flash: 170, 27%, 96%;
    --color-gray-scale-200: 180, 10%, 64%;
    --color-gray-scale-300: 180, 5%, 46%;
    --color-gray-scale-400: 180, 8%, 20%;
    --color-gray-scale-500: 180, 9%, 12%;
    --color-gray-scale-600: 180, 7%, 8%;
    --color-gray-scale-700: 180, 73%, 4%;
    --color-gray: 180, 10%, 64%;
    --color-blue-light-100: 167, 24%, 73%;

    --tw-ring-color: var(hsl(--color-primary-dark-geen));
    --background: 180 86% 3%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 180 86% 6%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: var(--color-gray-scale-300);
    --secondary-foreground: 210 40% 98%;

    --muted: var(--color-primary-solid-black);
    --muted-foreground: 180 5% 46%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 177 72% 6%;
    --input: 217.2 32.6% 17.5%;
    --ring: var(--color-green-bangladesh);

    --radius: 0.5rem;

    --border-width: 1px;

    --bar-height: 54px;
    --history-table-height: calc(100% - var(--book-chart-height));
    --book-chart-height: 31rem;
  }

  * {
    @apply border-border font-axiforma;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body.mouse-down *:focus {
  outline: 0;
  --tw-ring-color: transparent;
}

html,
body {
  height: 100%;
}
