@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 86% 3%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 180 86% 6%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 177 72% 6%;
    --muted-foreground: 180 5% 46%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 177 72% 6%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --radius: 0.5rem;
    --color-red: hsl(357, 79%, 62%);
    --color-green: hsl(158, 61%, 53%);

    --border-width: 1px;
  }
}

@layer base {
  * {
    @apply border-border font-axiforma;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body.mouse-down *:focus {
  outline: 0;
  --tw-ring-color: transparent;
}
