.theme-dark:root {
  --tv-color-platform-background: #1a1a1a;
  --tv-color-pane-background: #1a1a1a;
  --tv-color-pane-background-secondary: #1a1a1a;
  --tv-color-toolbar-button-text-active: #ff852c;
  --tv-color-toolbar-button-text-active-hover: #ff852c;

  --themed-color-selection-bg: #ff852c;
}
